Challenge 1

In [1]:
nombre = int(input("Entre ton nombre : "))
length = int(input("Entre une taille de liste : "))
list_multiple=[nombre*i for i in range (1, length+1)]

print(f"Liste de multiples de {nombre} : {list_multiple}")

Entre ton nombre : 3
Entre une taille de liste : 5
Liste de multiples de 3 : [3, 6, 9, 12, 15]

Challenge 2

In [9]:
def remove_consecutive_duplicates(lettre):
    if not lettre:
        return lettre

    result = [lettre[0]]  # Commence avec le premier caractère
    for char in lettre [1:]:
        if char != result[-1]:
            result.append(char)
    return ''.join(result)

# Demande à l'utilisateur une chaîne de caractères
mot = input("Entrez un mot ou une phrase composé de doublons de lettres : ")

# Traite la chaîne pour supprimer les doublons consécutifs
final_string = remove_consecutive_duplicates(mot)

# Affiche le résultat
print("Mot ou phrase après suppression des doublons consécutifs :", final_string)

Entrez un mot ou une phrase composé de doublons de lettres : soolllleeiiillll
Mot ou phrase après suppression des doublons consécutifs : soleil

Exercices supplémentaires

In [15]:
for i in range (1,6):
  print(f"Le carré de {i} est {i*i}")

Le carré de 1 est 1
Le carré de 2 est 4
Le carré de 3 est 9
Le carré de 4 est 16
Le carré de 5 est 25

In [26]:
list=[i for i in range (1,6,1)]
list

[1, 2, 3, 4, 5]

In [43]:
sum=0
for i in range (1,101):
    sum = sum + i
print(sum)

5050

In [49]:
list=[i for i in range (1,10)]
a=list[::-1]
print (a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [73]:
list=[1,2,3,4,5]
for i in range (len(list)-1,-1,-1):
  print (list[i])

5
4
3
2
1